section{
    display: flex;
    background-image: url(images/top-banner.png);
}


h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
}

.half-width{
    width: 50%;
}

.pic{
    padding-left: 10%;
    padding-right: 30%;
}
h1{
    padding-left: 8%;
}
h2{
    padding-left: 8%;
}

a{
    font-size: 20px;
    margin-left: 8%;
    text-decoration: none;
    background-color: orangered;
    padding: 7px 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(250, 109, 58),rgb(224, 159, 98));
    background-repeat: no-repeat;
}

img{
    height: 80%;
}

body{
    margin: 0;
}