.top{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top img{
    width: 60%;
    
}



h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
}

.half-width{
    width: 50%;
}

.pic{
    padding-left: 10%;
    padding-right: 30%;
}
h1{
    padding-left: 8%;
}
h2{
    padding-left: 8%;
}

a{
    font-size: 20px;
    margin-left: 8%;
    text-decoration: none;
    background-color: orangered;
    padding: 7px 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(250, 109, 58),rgb(224, 159, 98));
}

body{
    margin: 0px;
}
    
p{
    padding-left: 8%;
    
}
.middle{
    display: flex;

    

}
.middle p{
    text-align: justify;
}

section{
    margin-bottom: 200px;
}

div{
    width: 50%;
}

.middle{
    background-image: url(images/k.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last{
    display: flex;
    box-shadow: 50 px 50 px gray;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#exp{
    color: rgb(250, 109, 58);
    width: 70px;
    
}
.exp1{
    width: 40%;
    margin-left: 7%;
    margin-right: 5%;
    padding-right: 7%;
    box-shadow: 10px 10px 40px violet;
    
}
#left{
    border-left: 7px solid black;
    border-image-source: linear-gradient(blue,cyan);
    border-image-slice: 1 ;
}
#right{
    border-left: 7px solid black;
    border-image-source: linear-gradient(blue,cyan);
    border-image-slice: 1 ;

}

footer p{
    text-align: center;
}